fastapi>=0.110.0
uvicorn[standard]>=0.27.0
python-dotenv>=1.0.0
python-multipart>=0.0.9

streamlit>=1.30.0

openai>=1.30.0
tiktoken>=0.7.0

qdrant-client>=1.8.0
requests>=2.31.0
boto3>=1.34.0

pypdf>=4.0.0
pymupdf>=1.23.0

llama-index>=0.10.0
